<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width, initial-scale=1" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/style.css">

		<title>{{ title }}</title>
    </head>

    <body>

        <!-- Header -->
        <header class="header" id="header">
            <div class="container">
				<div class="header__inner">
					<div class="header__logo">
						<img src="static/img/group.png" alt="">
					</div>

                    <h1 class="header__text">Enter the users number:</h1>

                    <!-- Form -->
                    <div class="d1">
                        <form>
                            <input type="text" id="text">
                            <button type="button" id="search_form_input"></button>
                        </form>
                    </div>

                </div>
            </div>
        </header>

		<!-- Intro -->
		<div class="intro" id="intro">
			<div class="container">
				<div class="intro__inner">
					<h3 class="download__title">Are you ready to start? Update User Now!</h3>
					<div class="download__text">
						<p>Update User Now!</p>
					</div>
					<a class="btn btn--long btn--red" id="user_update">Update user</a>
				</div>
			</div>
		</div>

		<!-- Testimonials -->
		<div class="reviews" id="reviews">
			<div class="container">

                <div class="reviews__item">
					<div class="reviews__photo">
                        <img class="reviews__img" src="static/img/users/{{ user['first_name'] }}.jpg" alt="" width="40%">
                    </div>

                    <div class="reviews__content">
                        <div class="reviews__text">{{ user['first_name'] }} {{ user['last_name'] }}</div>

						<div class="reviews__author">{{ user['state'] }}</div>
						<div class="reviews__author">{{ user['gender'] }}</div>

						<div class="reviews__author">{{ user['email'] }}</div>
						<div class="reviews__author">{{ user['phone'] }}</div>
                    </div>
                </div>
			</div>
		</div>

		<!-- Download -->
		<div class="download">
			<div class="container">
				<a class="btn btn--hide btn--red" id="dwn-btn">Load Data</a>
			</div>
		</div>

		<!-- Table -->
		<div id="place_for_suggestions">
			<div class="container">
				<table class="table_col">
					  <colgroup>
							<col style="background-color: #53354a;">
					  </colgroup>

					  <tr>
						  	<th>First Name</th>
						  	<th>Last Name</th>
							<th>Gender</th>
							<th>Phone</th>
							<th>E-mail</th>
							<th>State</th>
					  </tr>

					  {% for row in rows %}
					  <tr>
						  <td id="first_name">{{ row['first_name']}}</td>
						  <td id="last_name">{{ row['last_name']}}</td>
						  <td id="gender">{{ row['gender']}}</td>
						  <td id="phone">{{ row['phone']}}</td>
						  <td id="email">{{ row['email']}}</td>
						  <td id="state">{{ row['state']}}</td>
					  </tr>
					  {% endfor %}

				</table>
			</div>
		</div>

        <!-- Footer -->
		<footer class="footer">
			<div class="container">
				<div class="copyright">
					<div class="container">
						<div class="copyright__text">
							<div>Copyright © 2021 using Random Api Technologies</div>
							<div>Made <span>by Alexander K.</span></div>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!--Scripts-->
        <script>

        	// Table update information
            $("#search_form_input").click(function(){
                var text = $("#text").val();
                $.ajax({
                  url: "/suggestions",
                  type: "get",
                  data: {jsdata: text},
                  success: function(response) {
                    $("#place_for_suggestions").html(response);
                  },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
            });

			// User update information
            $("#user_update").click(function(){
            	$.ajax({
                  url: "/user_update",
                  type: "get",
                  data: {jsdata: ''},
                  success: function(response) {
                    $("#reviews").html(response);
                  },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
            });

			// Json file download
            function download(filename, text) {
				var element = document.createElement('a');
				element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
				element.setAttribute('download', filename);
				element.style.display = 'none';
				document.body.appendChild(element);
				element.click();
				document.body.removeChild(element);
			}

			document.getElementById("dwn-btn").addEventListener("click", function(){
				var filename = "data.json";
				$.ajax({
                  url: "/users_info",
                  type: "get",
                  data: {jsdata: ''},
                  success: function(response) {download(filename, response);}
                  });
			}, false);

        </script>

    </body>
</html>
